In [21]:
import pandas as pd

In [22]:
df=pd.read_csv('C:/Users/KAPILGURU2/Downloads/ipl_matches.csv')

In [23]:
df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [24]:
#Total number of matches played
#Most Successfull team
#Player with maximum player of match awards
#Team won by maximum runs
#Team won by maximum wickets
#Team won by minimum runs
#Team won by minimum wickets
#%ge of winning if won the toss as well
#%ge of winning on doing batting first
#%ge of winning if did batting second

In [25]:
#Total number of matches played
len(df)

756

In [26]:
df['winner'].value_counts()

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Delhi Capitals                  10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [27]:
df['winner'].value_counts().head(1)

Mumbai Indians    109
Name: winner, dtype: int64

In [28]:
df['winner'].value_counts().idxmax()

'Mumbai Indians'

In [29]:
df['player_of_match'].value_counts().idxmax()

'CH Gayle'

In [30]:
#Team won by maximum runs
df[df['win_by_runs'] == df['win_by_runs'].max()]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
43,44,2017,Delhi,2017-05-06,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN

In [31]:
df[df['win_by_runs'] == df['win_by_runs'].max()]['winner']

43    Mumbai Indians
Name: winner, dtype: object

In [32]:
df[df['win_by_wickets'] == df['win_by_wickets'].max()]['winner']

2            Kolkata Knight Riders
34                 Kings XI Punjab
71                 Deccan Chargers
119               Delhi Daredevils
183    Royal Challengers Bangalore
298               Rajasthan Royals
376                 Mumbai Indians
390            Chennai Super Kings
542    Royal Challengers Bangalore
590            Sunrisers Hyderabad
683    Royal Challengers Bangalore
Name: winner, dtype: object

In [33]:
#Team won by minimum runs
#Team won by minimum wickets

df[df['win_by_runs'] == df[df['win_by_runs'] != 0]['win_by_runs'].min()]['winner']

58                  Mumbai Indians
105                Kings XI Punjab
163                Kings XI Punjab
344               Delhi Daredevils
350                 Mumbai Indians
518            Chennai Super Kings
598                  Gujarat Lions
614    Royal Challengers Bangalore
734    Royal Challengers Bangalore
755                 Mumbai Indians
Name: winner, dtype: object

In [34]:
df[df['win_by_wickets'] == df[df['win_by_wickets'] != 0]['win_by_wickets'].min()]['winner']

559    Kolkata Knight Riders
636      Chennai Super Kings
642      Sunrisers Hyderabad
Name: winner, dtype: object

In [35]:
#%ge of winning if won the toss as well
#%ge of winning on doing batting first
#%ge of winning if did batting second

(df['toss_winner'] == df['winner']).sum() / len(df)

0.5198412698412699

In [36]:
(df['win_by_runs'] != 0).sum()/len(df)

0.44576719576719576

In [37]:
(df['win_by_wickets'] != 0).sum()/len(df)

0.5370370370370371

In [38]:
df['result'].unique()

array(['normal', 'tie', 'no result'], dtype=object)

In [39]:
df['result'].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64