In [1]:
#1d -- Series
#2d-- dataframe
#operations

In [2]:
import pandas as pd

In [8]:
pd.Series(['hi',10,99,'YUP']) #create series from the list

0     hi
1     10
2     99
3    YUP
dtype: object

In [4]:
pd.Series(['hi',10,99,'YUP'],index=['a','b','c','d'])

a     hi
b     10
c     99
d    YUP
dtype: object

In [5]:
x=pd.Series(['hi',10,99,'YUP'],index=['a','b','c','d'])

In [6]:
type(x)

pandas.core.series.Series

In [7]:
x.ndim

1

In [9]:
y=pd.Series([1,2,3,4,5],dtype=complex)

In [10]:
y

0    1.0+0.0j
1    2.0+0.0j
2    3.0+0.0j
3    4.0+0.0j
4    5.0+0.0j
dtype: complex128

In [11]:
import numpy as np

In [14]:
x=np.array([23,43,56])

In [15]:
x

array([23, 43, 56])

In [16]:
pd.Series(x)

0    23
1    43
2    56
dtype: int32

In [18]:
s=pd.Series(x,index=['x','y','z'])

In [19]:
s

x    23
y    43
z    56
dtype: int32

In [21]:
s['y']

43

In [22]:
s['x']

23

In [23]:
#from the dictionary:-

In [24]:
d={'hi':10,10:8540,'x':1}

In [25]:
d

{'hi': 10, 10: 8540, 'x': 1}

In [26]:
pd.Series(d)

hi      10
10    8540
x        1
dtype: int64

In [34]:
d1={(12,1):'hi',1:8540,90:['Y','u','p'],'key':['Y','u','p'],90:'hi'}

In [35]:
type(d) #values can be mutuable,immutable,duplicates

dict

In [37]:
d1

{(12, 1): 'hi', 1: 8540, 90: 'hi', 'key': ['Y', 'u', 'p']}

In [38]:
d2={}

In [39]:
d2

{}

In [33]:
d3={[1,2]:65,'hello':(1,2)} #key must be immutable & unique

TypeError: unhashable type: 'list'

In [43]:
d4={'gym':630,(1,'hi'):78}

In [44]:
d5={56:67,'7':8}

In [60]:
x=pd.DataFrame([[1,2,3],[4,5,6]],index=['a','b'],columns=['x','y','z'],dtype=float)

In [61]:
x

     x    y    z
a  1.0  2.0  3.0
b  4.0  5.0  6.0

In [62]:
type(x)

pandas.core.frame.DataFrame

In [63]:
x.shape

(2, 3)

In [64]:
x.ndim

2

In [65]:
d={'a':[3,4,2,1,6],'b':['$2','$3','$1','$6','$5'],'c':[1,2,3,4,5]}

In [66]:
pd.DataFrame(d) # $3    #$1 $6

   a   b  c
0  3  $2  1
1  4  $3  2
2  2  $1  3
3  1  $6  4
4  6  $5  5

In [68]:
from numpy.random import randn

In [85]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='P Q R S'.split()) #index=['a','b','c','d','e']

In [86]:
df

          P         Q         R         S
A  1.180244 -0.606219 -1.845999  0.879631
B -0.020265 -0.935478  0.366813  0.415303
C -0.547528  0.637135  0.291547  0.354158
D -0.113580  0.182857 -0.599313  0.344684
E  0.320672  0.700681  2.033701 -0.851225

In [87]:
df[['R','S']]['D':'E']

          R         S
D -0.599313  0.344684
E  2.033701 -0.851225

In [75]:
s='hi hello'

In [76]:
type(s)

str

In [77]:
s.split()

['hi', 'hello']

In [78]:
s1='abc@gmail.com'

In [79]:
s1.split('@')

['abc', 'gmail.com']